# Build Output
/*build*/
info.txt
CMakeCache.txt

/docs/build

# Merge Outputs
*.orig

# Bazel Files
bazel-*

# Legacy Editors
\#*#
.\#*
*~
*.swp
*.swo
*.swn
.idea/
*.osm
tags
.idea/

*.gz
*.so

*.DS_Store

